@import url(fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}


.new__title {
  font-weight: bold;
  font-size: 22px;
  color: #2C2A2A;
  padding-top: 10px;
}

.new__desc {
  color: #9B9B9B;
  font-weight: lighter;
  padding-bottom: 20px;
  padding-top: 10px;
}

.new__a {
  font-weight: bold;
  font-size: 22px;
  color: #2C2A2A;
  background: #DFC900;
  padding: 11px 133px;
  transition: 1s;
  display: block;
  &:hover {
    background: #050505;
    color: #DFC900;
  }
}

.news__list {
  display: flex;
  max-width: 350px;
  width: 100%;
  gap: 30px;
}

.news__card {
  background: #fff;
  padding: 15px;
  border: 1px solid #D7D6DC;
}


.header {
  background:url(../img/header-bg.jpg);
  height: 565px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header__title {
  color: #FFFFFF;
  font-size: 50px;
  display: flex;
  flex-direction: column;
 align-items: center;
 padding-top: 167px;
}
.header__desc {
  color: white;
  font-size: 18px;
  display: flex;
 justify-content: center;
 align-items: center; 
 margin-top: 15px;
}

strong {
 padding: 0 4px;
}
  
.nav {
  background: #322E41;
}

.container {
  display: flex;
  justify-content: space-between;
}

ul {
  color: #fff;
  display: flex;

}

.bars {
  display: none;
  

}

.nav__link {
  padding-bottom: 21px;  
  border-bottom: 2px solid transparent;
  transition: 500ms;
  padding-right: 15px;
  padding-left: 15px;
}

.bars__img {
  width: 20px;
  height: 20px;
}

.bars {
  border: none;
  background: none;
  box-shadow: none;
}

.nav__link:hover {
  color: #FFE600;
  padding-bottom: 21px;  
  border-bottom: 2px solid #fff;
}

.nav__img {
  padding-top: 14px;
  padding-bottom: 14px;
}

.nav__ul {
  padding-top: 23px;

}